       <div class="row">
        <div class="span4">
                <%=image_tag("point.jpg", class: 'img-circle', width:'200', height: '300')%> 

              <h1>About</h1>
        			<p>wrg adfl ;gka;  dfls asdasdas gkswqeljwekjwe'</p>
      				<a class="btn btn-large btn-primary" href="#">Learn More</a>
				</div>
				
				 <div class="span4">
                   <%=image_tag("coney.jpg", class: 'img-circle', width:'200', height: '200')%> 

              <h1>Services</h1>
        			<p>wrgt;ladjfgl; jkfsglkdfslg kadfl; gkadfl;gka; dflsgks'</p>
      				<a class="btn btn-large btn-primary" href="#">Learn More</a>
				</div>
				
				 <div class="span4">
              <%=image_tag("training.jpg", class: 'img-circle', width:'200', height: '140')%> 
              <h1>Training</h1>
        			<p>wrgt;lad jfgl;jkfs glkdfslgkadfl;gka dfl;gka;dflsgks'</p>
      				<a class="btn btn-large btn-primary" href="#">Learn More</a>
				</div>
				
				</div>
<!--

  <%=image_tag("logo_big.gif", class: 'img-circle', width: '100',  height: '100')%> 

<div id="myCarousel" class="carousel slide">

    <div class="carousel-inner">
        <div class="item active">
						<%= image_tag('background_2.jpg')%>
            <div class="container">
                <div class="carousel-caption">
                    <h1></h1>
                    <p class="lead"></p>
                    <a class="btn btn-large btn-primary" href="#"></a>
                </div>
            </div>
        </div>
        </div> -->
         
	
	
<!--	<div class="hero-unit"  >
	
	<h1> HI</h1>
	<h1></h1>
  
  	<%=image_tag("logo_big.gif", class: "pull-left")%>
		
			<div id="row">
			  <h1>Risk Management</h1>
			  <h2>Welcome to the S&J Risk Management websiteblahhhhhhh blah blahhhhhhhhhhh blah bahsdjd blahjkjk</h2>

				<%= link_to "Learn More", about_path, class: "btn btn-large btn-primary" %>
			</div>
		
	</div> --> 

<!--	<div class="center hero-unit">
		<h2>Welcome to the S&J Risk Management websiteblahhhhhhh blah blahhhhhhhhhhh blah bahsdjd blahjkjk</h2>

	<%= link_to "Learn More", '#', class: "btn btn-large btn-primary" %>
	</div> 
	
		
		<div class="hi_logo">
			<%=image_tag("logo_big.gif", alt: "logo")%>
		</div>
			<div class="hi_text">
		
			<h1>S&J Risk Management</h1>
		<div>
	
	
	-->


<!--<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> 
		FOR RUBY ON RAILS LOGO, WE DON'T NEED IT, BUT IT EXPLAINS IN 5.1.1 
		HOW TO USE IT AND WHERE TO PUT THE IMAGES-->

